.navbar-brand {
  font-size: 230%;
  align-items: center;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
  font-size: 200%;
}

.nav-item {
  font-size: 200%;
}

*{
  text-decoration: none;
}